* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FEFAE0;
    margin: 0;
    padding: 0;
}
a {
    color: #FEFAE0;
}
body {
    background-color: rgb(254, 250, 225);
}
.header {
    display: flex;
    flex-direction: row;
    text-align: right;
    background-color: rgb(96, 108, 56);
    justify-content: space-between;
    align-items: center;
}
.header > ul {
    display: flex;
    gap: 3rem;
    font-size: xx-large;
    margin-right: 10%;
    list-style: none;
}
.content {
    width: 100%;
    height: 84vh;
}
.content > h1 {
    padding-top: 10%;
    padding-left: 10%;
    color: #606C38;
    font-size: 3rem;
}
.bookingMessage {
    width: 80%;
    height: 84vh;
}
.bookingMessage > h2 {
    padding-top: 10%;
    padding-left: 10%;
    color: #606C38;
    font-size: 4rem;
}
.content > h2 {
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    color: #606C38;
    font-size: 4rem;
}
.content > h4 {
    padding-top: 30%;
    padding-left: 10%;
    color: #606C38;
    font-size: 2rem;
}
.content > a {
    padding-left: 10%;
    color: #606C38;
    font-size: 1.5rem;
}
.logo {
    padding: 10px;
    height: 7%;
    width: 7%;
}
.menupic {
    width: 0%;
    height: 0%;
}
.content2 {
    background-color: #606C38;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: #FF0000;
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #606C38;
    padding: 1%;
    margin: 1%;
    gap: 10px;
    border-radius: 50px;
}
.grid-child {
    background-color: #FEFAE0;
    color: #606C38;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5%;
    height: 200px;
    font-size: 5rem;
    text-align: center;
}
.order-button {
    background-color: #606C38;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 3% 20% 3% 20%;
    padding: 10px;
    border-radius: 50px;
}
.order-title > h1 {
    color: #606C38;
    font-size: 3rem;
    margin: 3% 0% 0% 3%;
}
.order-form > h2 {
    color: #606C38;
    font-size: 2rem;
    margin: 3% 0% 0% 3%;
}
.drink-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #606C38;
    padding: 0.5%;
    margin: 1%;
    gap: 10px;
    border-radius: 50px;
}
.drink-child {
    background-color: #FEFAE0;
    color: #606C38;
    border: 1px solid black;
    border-radius: 50px;
    padding: 2%;
    height: 150px;
    font-size: 3rem;
    text-align: center;
}
.menu-button {
    color: #606C38;
}
.order-confirm {
    background-color: #606C38;
    color: #FEFAE0;
    font-size: 2rem;
    display: flex;
    border-radius: 50px;
    padding: 10px;
    margin: 1%;
    text-align: center;
}
.lesson-confirm {
    margin: 10%;
    text-align: center;
    padding: 10px;
    background-color: #606C38;
    color: #FEFAE0;
    font-size: 2rem;
    display: flex;
    border-radius: 50px;
}
.home-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FEFAE0;
    padding: 1%;
    margin: 1%;
    gap: 10px;
    border-radius: 50px;
}
.home-grid-child {
    background-color: #FEFAE0;
    color: #606C38;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5%;
    height: 300px;
    font-size: 3rem;
    text-align: center;
}
.home-grid-button {
    background-color: #606C38;
    color: #FEFAE0;
    font-size: 2rem;
    border-radius: 50px;
    padding: 15px;
    margin: 1%;
}
.header > p {
    color:rgb(254, 250, 225);
}
.table-confirm {
    margin: 5%;
    text-align: center;
    padding: 10px;
    background-color: #606C38;
    color: #FEFAE0;
    font-size: 2rem;
    display: flex;
    border-radius: 50px;
}